[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x"]

[phases.install]
cmds = [
  "npm ci",
  "cd frontend && npm ci",
  "cd ../backend && npm ci"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "cd backend && npm start"

